body {
	
	 width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.title
{
	color:#ff4c00 ;
	position: center;
	border: 7px solid steelblue;
	padding: 10px;
	margin-right: 530px;
	border-radius: 20px;
}
.operation
{
	color: black;
	font-size: 25px;

}
h3{color: red;}

.id
{
	color: green;
	font-size: 20px;
}
.mainhead
{
	//padding-left: 200px;
  margin-left: 400px;
}
#output
{
	width: 1000px;
	height: 1000px;
	box-sizing: border-box;
}
.my_text
{
	width: 300px;
	height: 300px;
	position: center;
}

#outmain
{
	color:black;
	position: center;
	border: 5px solid black;
	padding: 10px;
	margin-right: 530px;
	border-radius: 10px;
}